/*
  TEMPLATE
*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

a, a:visited {
  color: #000000;
}

a:hover {
  opacity: 0.7;
}

.no-decoration {
  text-decoration: none;
}

.margin-auto {
  margin: auto;
}

.font-300 {
  font-weight: 300;
}

.font-100 {
  font-weight: 100;
}

.font-lg {
  font-size: 1.2rem;
}

.row, .row-v {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-v {
  flex-direction: column;
}

.j-center-v {
  justify-content: center;
}

.j-center-h {
  align-content: center;
}

.j-between {
  justify-content: space-between;
  align-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.row-100 { min-height: 100vh; }

.col-10 { width: 10%;}
.col-15 { width: 15%;}
.col-20 { width: 20%;}
.col-25 { width: 25%;}
.col-30 { width: 30%;}
.col-40 { width: 40%;}
.col-50 { width: 50%;}
.col-60 { width: 60%;}
.col-70 { width: 70%;}
.col-80 { width: 80%;}
.col-90 { width: 90%;}
.col-100 { width: 100%;}

.col-50-lg {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.text-center { text-align: center; }
.text-small { font-size: 0.8rem; }
.hidden { display: none; }
.lh-15 { line-height: 1.5 }
.space-sm { width: 100%; height: 0.5rem; }
.space-md { width: 100%; height: 1rem; }
.space-lg { width: 100%; height: 1.5rem; }
.content { margin: auto; }
.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.p-1 { padding: 2rem; }

@media(max-width: 600px) {
  .col-100-sm {
    width: 100% !important;
  }

  .text-sm {
    font-size: 0.8rem;
  }

  .sm-hidden {
    display: none;
  }
}

@media(min-width: 600px) {
  .md-hidden {
    display: none;
  }
}

/*
  CUSTOM
*/

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 5rem;
}

.color-white {
  color: #FFFFFF;
}

.color-banana {
  color: #f7e60e;
}

.color-pink {
  color: #e45c88;
}

.text-shadow {
  text-shadow: 8px 9px 0 rgba(0, 0, 0, 0.25);
}

.bg-black {
  background-color: #040404;
  color: #FFF;
}

.bg-light {
  background-color: #FFFFFF;
}

.bg-gradient-red {
  /*background: linear-gradient(25deg,#d64c7f,#ee4758 50%);*/
  background-color: #ff0065;
}

.bg-cover { background-size: cover; }

.bg-bananas {
  background-image: url("images/bananas.jpg");
}

.bg-pink {
  background: #e45c87;
}

.bg-hex {
  background-color: #3f51b5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23283892' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo {
  margin: auto;
  width: 10vw;
  display: block;
  min-width: 80px;
  margin-bottom: 2vh;
}

.menu a, .menu a:visited {
  color: #ff9abb;
}

#menu-desktop {
  position: fixed;
  left: 0;
  top: 0;
}

#menu-mobile {
  display: none;
  position: fixed;
  left: 1rem;
  top: 0.5rem;
}

@media(max-width: 960px) {
  #menu-mobile {
    display: block;
  }
  #menu-desktop {
    display: none;
  }
}

#menu-mobile .menu-items {
  font-weight: bold;
  display: none;
}

#menu-mobile.visible .menu-items {
  display: block;
}

#menu-mobile .menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
}

.title-1 {
  color: #4bbee6;
}

.title-2 {
  color: #4be77c;
}

.title-3 {
  color: #e45c88;
}

.subtitle {
  font-weight: 100;
  font-size: 2vw;
}

#company {
  background: #4bbee6;
  color: #FFF;
}

.icon-company {
  font-size: 3vw;
}

.team-tile {
  margin: 1vw;
  line-height: 1.2;
  font-size: 1.2rem;
}

.team-pic {
  display: inline-block;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  border: 5px solid #ececec;
  box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.5);
}

.team-name {
  margin-top: 0.2rem;
}

.beehave-icon {
  width: 120px;
}

.beehave-title {
  text-shadow: 10px 9px 8px rgba(0, 0, 0, 0.24);
}

.brand-orange {
  color: #ffc107;
}

#youtube-iframe {
  box-shadow: 5px 8px 6px 0 rgba(0, 0, 0, 0.31);
  display: block;
  margin: auto;
  width: 90%;
  max-width: 560px;
}

a.social-icon {
  font-size: 2.5rem;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
}

.social-icon:hover {
  color: #ffc107;
}

.contact-content {
  width: 30vw;
  height: 30vw;
  min-width: 310px;
  min-height: 310px;
  border-radius: 100%;
  box-shadow: 0px 0 50px 0px rgba(0, 0, 0, 0.42);
}

.credits, .credits a, .credits a:visited {
  color: #777;
}

.gmaps {
  box-shadow: 0 0 6px 0 #00000085;
  border: 10px solid #FFF;
  border-radius: 100%;
}

@media(max-width: 500px) {

  .p-1 {
    padding: 1rem;
  }

  .col-100-sm {
    width: 100%;
  }

  .icon-company {
    font-size: 12vw;
  }

  .gmaps {
    width: 40vw;
    height: 40vw;
  }

  .contact-info {
    position: relative;
    top: -20px;
  }

  .subtitle {
    font-size: 3vw;
  }

  .team-tile {
    line-height: 1.2;
    font-size: 1rem;
  }

  .team-title.text-small {
    font-size: 0.7rem;
  }

  .team-pic {
    border-radius: 100%;
    width: 24vw;
    height: 24vw;
  }

  h2 {
    font-size: 3rem;
  }
}

@media(min-width: 900px) {
  .col-50-lg {
    width: 50%;
  }

  .col-70-lg {
    width: 70%;
  }

  .gmaps {
    width: 15vw;
    height: 15vw;
    position: absolute;
    right: -6vw;
    top: -3vw;
  }
}
